{"openapi":"3.0.2","info":{"title":"Clint API","description":"API for managing contacts, deals, and tags in the Clint application.\n\n**SMS & Voice:** send SMS and voice calls and receive delivery status. See the **SMS**, **VOICE** and **Webhooks** sections below for step-by-step guides.","contact":{"name":"API Support","url":"http://www.example.com/support","email":"support@example.com"},"version":"1.0.0"},"servers":[{"url":"https://api.clint.digital","description":"Production API"}],"tags":[{"name":"Contacts","description":"Operations related to managing contacts"},{"name":"Organizations","description":"Operations related to managing organizations"},{"name":"Deals","description":"Operations related to managing deals"},{"name":"Groups","description":"Operations related to managing deals"},{"name":"Lost Status","description":"Operations related to managing lost status"},{"name":"Origins","description":"Operations related to managing origins"},{"name":"Tags","description":"Operations related to managing tags"},{"name":"Users","description":"Operations related to managing users"},{"name":"Channel Accounts","description":"Operations related to channel accounts — WHATSAPP_OFFICIAL, WHATSAPP and INSTAGRAM (v2)"},{"name":"Message Templates","description":"Operations related to WhatsApp Official message templates (v2)"},{"name":"Chats","description":"Operations related to chats via OpenSearch — WHATSAPP_OFFICIAL, WHATSAPP and INSTAGRAM (v2)"},{"name":"Messages","description":"Operations related to messages. Reads cover WHATSAPP_OFFICIAL, WHATSAPP and INSTAGRAM; sending endpoints remain WHATSAPP_OFFICIAL-only (v2)"},{"name":"Dashboards","description":"Operations related to analytics dashboards and chart data (v2)."},{"name":"SMS","description":"Send an SMS in one step. Authenticate with your API key in the `api-token` header and use phone numbers in international format (e.g. +5511999998888).\n\n**Send an SMS** — `POST /v2/sms`\n\n```json\n{ \"phone\": \"+5511999998888\", \"message\": \"Hello!\" }\n```\n\nReturns `{ \"success\": true, \"message_id\": \"abc123\", \"status\": \"QUEUED\" }`. Keep `message_id` to match later status updates (see Webhooks).\n\nIf your account does not have this feature, the call returns `403 — \"This feature is not available for your account.\"`"},{"name":"VOICE","description":"Make a voice call in two steps — upload the audio once, then reuse it for any number of calls. Authenticate with your API key in the `api-token` header.\n\n**1. Upload the audio (only once per file)** — `POST /v2/voice/audios`\n\n```json\n{ \"audio_url\": \"https://yoursite.com/message.mp3\" }\n```\n\nReturns `{ \"audio_id\": \"api-audio-xxxx\", \"reused\": false }`. Save the `audio_id`; uploading the same file again returns the same id (`\"reused\": true`) — no duplicate upload.\n\n**2. Make the call** — `POST /v2/voice`\n\n```json\n{ \"phone\": \"+5511999998888\", \"audio_id\": \"api-audio-xxxx\" }\n```\n\nReturns `{ \"success\": true, \"message_id\": \"def456\", \"status\": \"QUEUED\" }`."},{"name":"Webhooks","description":"Receive delivery and call-status updates. Configure once where we should send them; afterwards we POST each update to your URL.\n\n**Configure** — `PUT /v2/webhooks`\n\n```json\n{ \"url\": \"https://yoursite.com/clint-status\", \"events\": [\"sms.delivered\", \"sms.error\", \"voice.answered\"] }\n```\n\nThe `events` list is the complete set of subscriptions — include the events you want, omit the rest. Returns a `secret` (shown only once — store it).\n\n**What you receive:**\n\n```json\n{ \"channel\": \"SMS\", \"message_id\": \"abc123\", \"event\": \"sms.delivered\", \"phone\": \"+5511999998888\", \"status\": \"DELIVERED\", \"timestamp\": \"...\" }\n```\n\nTo confirm it is really us, verify the `X-Clint-Signature` header using your secret.\n\n**Events:** SMS — `sms.delivered`, `sms.undelivered`, `sms.error`. Voice — `voice.answered`, `voice.no_answer`, `voice.failed`."},{"name":"Activities","description":"Operations related to deal activities — calls, tasks, meetings, schedules and other follow-ups linked to a deal. Gated by the `ACTIVITIES_API` feature flag and the `activities:read`/`activities:write` API key scopes (v2)."}],"paths":{"/v1/account/fields":{"get":{"summary":"List fields","tags":["Account"],"description":"Retrieve a list of fields","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"responses":{"200":{"description":"A list of fields","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AccountFields"}}}}]}}}}}}},"/v1/contacts":{"get":{"summary":"List contacts","tags":["Contacts"],"description":"Retrieve a paginated list of contacts","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter by origin ID","in":"query","name":"origin_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by contact name","in":"query","name":"name","schema":{"type":"string","example":"Contact name"}},{"description":"Filter by contact ddi","in":"query","name":"ddi","schema":{"type":"string","example":"55"}},{"description":"Filter by contact phone","in":"query","name":"phone","schema":{"type":"string","example":"999999999"}},{"description":"Filter by contact e-mail","in":"query","name":"email","schema":{"type":"string","example":"contact@email.com"}},{"description":"Filter by contact tag IDs using OR operator. Separated by ','","in":"query","name":"tag_ids","schema":{"type":"string","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8,99999999-d77b-4e8b-9d35-fd43e972b999"}},{"description":"Filter by contact tag names using OR operator. Separated by ','","in":"query","name":"tag_names","schema":{"type":"string","example":"tag1,tag2,tag3"}},{"description":"Filter by contact fields. Can be used multiple times for each field","in":"query","name":"fields","style":"deepObject","schema":{"type":"object"}}],"responses":{"200":{"description":"A list of contacts","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}}}}]}}}}}},"post":{"summary":"Create contact","tags":["Contacts"],"description":"Create a new Contact","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateSchema"}}}},"responses":{"201":{"description":"Contact created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"}}}}}}}}},"/v1/contacts/{id}":{"get":{"summary":"Get contact","tags":["Contacts"],"description":"Retrieve a single contact by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A contact object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Contact"}}}]}}}}}},"post":{"summary":"Update contact","tags":["Contacts"],"description":"Update a single contact","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateSchema"}}}},"responses":{"200":{"description":"Contact updated","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"}}}}}}}},"delete":{"summary":"Remove contact","tags":["Contacts"],"description":"Remove a single contact by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/v1/contacts/{id}/tags":{"post":{"summary":"Add tags","tags":["Contacts"],"description":"Add tags to a single contact","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","example":"Tag"}}}}},"responses":{"204":{"$ref":"#/components/responses/204"}}},"delete":{"summary":"Remove tag","tags":["Contacts"],"description":"Remove a tag from a contact","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"description":"Tag identifier - provide either tag id or tag name","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tag_id":{"type":"string","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8","description":"The ID of the tag to be removed"},"tag_name":{"type":"string","example":"my-tag","description":"The name of the tag to be removed"}},"oneOf":[{"required":["tag_id"]},{"required":["tag_name"]}]}}}},"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"You must provide either a tag id or a tag name"}}}}}}}}},"/v1/contacts/{id}/attachments":{"get":{"summary":"List contact attachments","tags":["Contacts"],"description":"Retrieve a paginated list of attachments (documents) for a specific contact. Each attachment includes a public document URL that can be used directly for download or rendering.","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"},{"$ref":"#/components/parameters/queryParam_limit_100"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A paginated list of contact attachments","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContactAttachment"}}}}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Param contactId must be a valid UUID"}}}}}},"404":{"description":"Contact not found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Contact not found"}}}}}}}}},"/v1/organizations/{id}":{"get":{"summary":"Get organization","tags":["Organizations"],"description":"Retrieve a single organization by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"An organization object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Organization"}}}]}}}}}},"post":{"summary":"Update organization","tags":["Organizations"],"description":"Update a single organization","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationCreateSchema"}}}},"responses":{"200":{"description":"Organization updated","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"}}}}}}}}},"/v1/deals":{"get":{"summary":"List deals","tags":["Deals"],"description":"Retrieve a paginated list of deals","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter by origin ID","in":"query","name":"origin_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by created_at using GTE operator","in":"query","name":"created_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by created_at using LTE operator","in":"query","name":"created_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by updated_at using GTE operator","in":"query","name":"updated_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by updated_at using LTE operator","in":"query","name":"updated_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by user ID","in":"query","name":"user_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by user e-mail","in":"query","name":"user_email","schema":{"type":"string","example":"user@email.com"}},{"description":"Filter by contact ID","in":"query","name":"contact_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by contact phone","in":"query","name":"phone","schema":{"type":"string","example":"999999999"}},{"description":"Filter by contact e-mail","in":"query","name":"email","schema":{"type":"string","example":"contact@email.com"}},{"description":"Filter by tag IDs using OR operator. Separated by ','","in":"query","name":"tag_ids","schema":{"type":"string","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8,99999999-d77b-4e8b-9d35-fd43e972b999"}},{"description":"Filter by tag names using OR operator. Separated by ','","in":"query","name":"tag_names","schema":{"type":"string","example":"tag1,tag2,tag3"}},{"description":"Filter by status","in":"query","name":"status","schema":{"$ref":"#/components/schemas/DealStatus"}},{"description":"Filter by stage ID","in":"query","name":"stage_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by updated_stage_at using GTE operator","in":"query","name":"updated_stage_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by updated_stage_at using LTE operator","in":"query","name":"updated_stage_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by deal fields. Can be used multiple times for each field","in":"query","name":"fields","style":"deepObject","schema":{"type":"object"}},{"description":"Filter by won_at using GTE operator","in":"query","name":"won_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by won_at using LTE operator","in":"query","name":"won_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by lost_at using GTE operator","in":"query","name":"lost_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter by lost_at_at using LTE operator","in":"query","name":"lost_at_end","schema":{"$ref":"#/components/schemas/DateTime"}}],"responses":{"200":{"description":"A list of deals","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Deal"}}}}]}}}}}},"post":{"summary":"Create deal","tags":["Deals"],"description":"Create a new Deal","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealCreateSchema"}}}},"responses":{"201":{"description":"Deal created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"}}}}}}}}},"/v1/deals/{id}":{"get":{"summary":"Get deal","tags":["Deals"],"description":"Retrieve a single deal by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A deal object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Deal"}}}]}}}}}},"post":{"summary":"Update deal","tags":["Deals"],"description":"Update a single deal","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DealUpdateSchema"}}}},"responses":{"200":{"description":"Deal updated","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"}}}}}}}},"delete":{"summary":"Remove deal","tags":["Deals"],"description":"Remove a single deal by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/v1/groups":{"get":{"summary":"List groups","tags":["Groups"],"description":"Retrieve a paginated list of groups","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A list of groups","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Group"}}}}]}}}}}}},"/v1/groups/{id}":{"get":{"summary":"Get group","tags":["Groups"],"description":"Retrieve a single group by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A group object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Group"}}}]}}}}}}},"/v1/lost-status":{"get":{"summary":"List lost status","tags":["Lost Status"],"description":"Retrieve a paginated list of lost status","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A list of lost status","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/LostStatus"}}}}]}}}}}}},"/v1/lost-status/{id}":{"get":{"summary":"Get lost status","tags":["Lost Status"],"description":"Retrieve a single lost status by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A lost status object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/LostStatus"}}}]}}}}}}},"/v1/origins":{"get":{"summary":"List origins","tags":["Origins"],"description":"Retrieve a paginated list of origins","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter by group ID","in":"query","name":"group_id","schema":{"$ref":"#/components/schemas/ID"}}],"responses":{"200":{"description":"A list of origins","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Origin"}}}}]}}}}}}},"/v1/origins/{id}":{"get":{"summary":"Get origin","tags":["Origins"],"description":"Retrieve a single origin by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A origin object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Origin"}}}]}}}}}}},"/v1/tags":{"get":{"summary":"List tags","description":"Retrieve a paginated list of tags","tags":["Tags"],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter by tag name","in":"query","name":"name","schema":{"type":"string","example":"Tag name"}}],"responses":{"200":{"description":"A list of tags","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}}}]}}}}}},"post":{"summary":"Create tag","description":"Create a new tag","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"tags":["Tags"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagCreateSchema"}}}},"responses":{"200":{"$ref":"#/components/responses/200"}}}},"/v1/tags/{id}":{"get":{"summary":"Get tag","description":"Retrieve a single tag by ID","tags":["Tags"],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A tag object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Tag"}}}]}}}}}},"delete":{"summary":"Remove tag","description":"Remove a single tag by ID","tags":["Tags"],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"204":{"$ref":"#/components/responses/204"}}}},"/v1/users":{"get":{"summary":"List users","tags":["Users"],"description":"Retrieve a paginated list of users","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A list of users","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Paginated"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}]}}}}}}},"/v1/users/{id}":{"get":{"summary":"Get user","tags":["Users"],"description":"Retrieve a single user by ID","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A user object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":"200","description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/User"}}}]}}}}}}},"/v2/channel-accounts":{"get":{"summary":"List channel accounts","tags":["Channel Accounts"],"description":"Retrieve a paginated list of channel accounts. By default returns all supported channel types (WHATSAPP_OFFICIAL, WHATSAPP, INSTAGRAM); soft-deleted accounts are always excluded. Use the optional `type` query parameter to narrow the result to a single channel type.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit_100"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"$ref":"#/components/parameters/queryParam_channelType"}],"responses":{"200":{"description":"A paginated list of channel accounts","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ChannelAccount"}}}}]}}}},"400":{"description":"Invalid type value","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param type must be one of: WHATSAPP_OFFICIAL, WHATSAPP, INSTAGRAM"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"}}}},"/v2/channel-accounts/{id}":{"get":{"summary":"Get channel account","tags":["Channel Accounts"],"description":"Retrieve a single channel account by ID. Supports WHATSAPP_OFFICIAL, WHATSAPP and INSTAGRAM channel types.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A channel account object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ChannelAccount"}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Channel account not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/message-templates":{"get":{"summary":"List message templates","tags":["Message Templates"],"description":"Retrieve a paginated list of message templates linked to a WhatsApp Official channel account. The channel_account_id query parameter is required and must belong to the authenticated owner.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"description":"UUID of the channel account (required)","in":"query","name":"channel_account_id","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true},{"$ref":"#/components/parameters/queryParam_limit_200"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A paginated list of message templates","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MessageTemplate"}}}}]}}}},"400":{"description":"Missing or invalid channel_account_id","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Query param channel_account_id is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Channel account not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/message-templates/{id}":{"get":{"summary":"Get message template","tags":["Message Templates"],"description":"Retrieve a single message template by ID. Validates that the template belongs to a WhatsApp Official channel account owned by the authenticated user.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A message template object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/MessageTemplate"}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Message template not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Message template not found"}}}}}}}}},"/v2/chats/contact/{contactId}":{"get":{"summary":"List chats by contact","tags":["Chats"],"description":"Retrieve a paginated list of chats for a specific contact across WHATSAPP_OFFICIAL, WHATSAPP and INSTAGRAM channels. Results are sorted by last_message_at descending.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"description":"UUID of the contact","in":"path","name":"contactId","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true},{"$ref":"#/components/parameters/queryParam_limit_200"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter chats whose last_message_at is greater than or equal to this date (ISO-8601; a bare YYYY-MM-DD is treated as the start of the day)","in":"query","name":"last_message_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_message_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"last_message_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_response_at is greater than or equal to this date (ISO-8601; a bare YYYY-MM-DD is treated as the start of the day)","in":"query","name":"last_response_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_response_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"last_response_at_end","schema":{"$ref":"#/components/schemas/DateTime"}}],"responses":{"200":{"description":"A paginated list of chats","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Chat"}}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param contact_id must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"}}}},"/v2/chats/channel-account/{channelAccountId}":{"get":{"summary":"List chats by channel account","tags":["Chats"],"description":"Retrieve a paginated list of chats for a specific channel account. Results are sorted by last_message_at descending.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"description":"UUID of the channel account","in":"path","name":"channelAccountId","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true},{"$ref":"#/components/parameters/queryParam_limit_200"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Filter chats whose last_message_at is greater than or equal to this date (ISO-8601; a bare YYYY-MM-DD is treated as the start of the day)","in":"query","name":"last_message_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_message_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"last_message_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_response_at is greater than or equal to this date (ISO-8601; a bare YYYY-MM-DD is treated as the start of the day)","in":"query","name":"last_response_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter chats whose last_response_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"last_response_at_end","schema":{"$ref":"#/components/schemas/DateTime"}}],"responses":{"200":{"description":"A paginated list of chats","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Chat"}}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param channel_account_id must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"}}}},"/v2/chats/{id}":{"get":{"summary":"Get chat","tags":["Chats"],"description":"Retrieve a single chat by ID. Only returns chats belonging to the authenticated owner.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"A chat object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Chat"}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Chat not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Chat not found"}}}}}}}},"post":{"summary":"Update chat","tags":["Chats"],"description":"Update the assigned attendant (user_id) and/or the status of a chat. Assigning an attendant forces the chat status to OPEN, unless an explicit status is sent in the same request (the explicit status wins). Sending user_id: null unassigns the attendant without changing the status. Setting status to CLOSED records closed_at. At least one of user_id or status is required. Only chats belonging to the authenticated owner can be updated.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","minProperties":1,"properties":{"user_id":{"type":"string","format":"uuid","nullable":true,"description":"UUID of the user (attendant) to assign. Must be a user of the account. Send null to unassign.","example":"7c9e6679-7425-40de-944b-e07fc1f90ae7"},"status":{"type":"string","enum":["OPEN","SNOOZED","CLOSED"],"description":"New status of the chat. CLOSED records closed_at; reopening does not clear it.","example":"CLOSED"}}}}}},"responses":{"200":{"description":"The updated chat object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Chat"}}}]}}}},"400":{"description":"At least one of user_id or status is required","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"At least one of user_id or status is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Chat not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Chat not found"}}}}}}}}},"/v2/messages/chat/{chatId}":{"get":{"summary":"List messages by chat","tags":["Messages"],"description":"Retrieve a paginated list of messages for a specific chat (WHATSAPP_OFFICIAL, WHATSAPP or INSTAGRAM). Messages are sorted by created_at descending.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"description":"UUID of the chat","in":"path","name":"chatId","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"required":true},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"},{"name":"content_type","in":"query","required":false,"description":"Filter messages by content type","schema":{"type":"string","enum":["TEXT","IMAGE","AUDIO","VIDEO","DOCUMENT"],"example":"TEXT"}},{"description":"Filter messages whose created_at is greater than or equal to this date (ISO-8601; a bare YYYY-MM-DD is treated as the start of the day). Use for incremental extraction by time window.","in":"query","name":"created_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter messages whose created_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"created_at_end","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter messages whose updated_at is greater than or equal to this date (ISO-8601). updated_at reflects the last change to a message — including delivery/read status changes — so use it to re-fetch messages whose status changed since your last sync.","in":"query","name":"updated_at_start","schema":{"$ref":"#/components/schemas/DateTime"}},{"description":"Filter messages whose updated_at is less than or equal to this date (ISO-8601). A bare YYYY-MM-DD normalizes to start-of-day, so it excludes that calendar day — pass a full timestamp (e.g. ...T23:59:59Z) to include it.","in":"query","name":"updated_at_end","schema":{"$ref":"#/components/schemas/DateTime"}}],"responses":{"200":{"description":"A paginated list of messages","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param chat_id must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"}}}},"/v2/messages/{id}":{"get":{"summary":"Get message","tags":["Messages"],"description":"Retrieve a single message by ID. Only returns messages belonging to the authenticated owner.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"},{"name":"content_type","in":"query","required":false,"description":"Filter message by content type","schema":{"type":"string","enum":["TEXT","IMAGE","AUDIO","VIDEO","DOCUMENT"],"example":"TEXT"}}],"responses":{"200":{"description":"A message object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Message"}}}]}}}},"400":{"description":"Invalid UUID format","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Message not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Message not found"}}}}}}}}},"/v2/messages/note":{"post":{"summary":"Create chat note","tags":["Messages"],"description":"Create an internal note (annotation) on a conversation. The note appears in the conversation history identically to a note created in the UI, scoped to the authenticated owner. Internal notes are never sent to the contact. Note: @mentions in the content are stored verbatim but do not trigger mention notifications.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["chat_id","content"],"properties":{"chat_id":{"type":"string","format":"uuid","description":"UUID of the conversation (chat) to add the note to","example":"550e8400-e29b-41d4-a716-446655440000"},"content":{"type":"string","maxLength":4096,"description":"Text content of the note (1-4096 characters)","example":"AI summary: customer asked about pricing and wants a callback tomorrow."},"author":{"type":"string","maxLength":120,"description":"Optional display name shown as the note author in the conversation history. Defaults to \"API\" when omitted.","example":"AI Assistant"}}}}}},"responses":{"201":{"description":"Note created","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":201},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"id":{"type":"string","format":"uuid","description":"UUID of the created note message","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"},"content":{"type":"string","example":"AI summary: customer asked about pricing and wants a callback tomorrow."},"author":{"type":"string","example":"AI Assistant"},"type":{"type":"string","enum":["NOTE"],"example":"NOTE"},"created_at":{"type":"string","format":"date-time","example":"2026-06-15T19:29:13.000Z"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param content must not be empty"}}},"examples":{"missing_chat_id":{"summary":"Missing chat_id","value":{"status":400,"message":"Param chat_id is required"}},"invalid_uuid":{"summary":"Invalid chat UUID","value":{"status":400,"message":"Param chat_id must be a valid UUID"}},"empty_content":{"summary":"Empty note content","value":{"status":400,"message":"Param content must not be empty"}},"content_too_long":{"summary":"Content too long","value":{"status":400,"message":"Param content must not exceed 4096 characters"}},"author_too_long":{"summary":"Author too long","value":{"status":400,"message":"Param author must not exceed 120 characters"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"The attendance API feature is not enabled for your account"},"404":{"description":"Chat not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Chat not found"}}}}}}}}},"/v2/messages/text":{"post":{"summary":"Send text message","tags":["Messages"],"description":"Send a text message via WhatsApp Official. Reuses the existing message sending flow — validates channel account, contact, and messaging window, then dispatches to the WhatsApp provider. Returns immediately with QUEUED status.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","message"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the message to","example":"550e8400-e29b-41d4-a716-446655440002"},"message":{"type":"string","description":"Text content of the message","example":"Hello, how can I help you?"},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"}}}}}},"responses":{"200":{"description":"Message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","description":"UUID of the created message","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","description":"UUID of the chat (existing or newly created)","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"description":"Initial message status","example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param channel_account_id is required"}}},"examples":{"missing_field":{"summary":"Missing required field","value":{"status":400,"message":"Param channel_account_id is required"}},"invalid_uuid":{"summary":"Invalid UUID format","value":{"status":400,"message":"Param channel_account_id must be a valid UUID"}},"empty_message":{"summary":"Empty message content","value":{"status":400,"message":"Param message must not be empty"}},"disconnected":{"summary":"Channel account disconnected","value":{"status":400,"message":"Channel account is not connected"}},"wrong_type":{"summary":"Channel account type not supported","value":{"status":400,"message":"Channel account type must be WHATSAPP_OFFICIAL"}},"no_phone":{"summary":"Contact has no phone number","value":{"status":400,"message":"Contact does not have a phone number"}},"window_closed":{"summary":"Messaging window closed","value":{"status":400,"message":"Messaging window is closed. Use a template message to reopen the conversation"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}},"examples":{"channel_not_found":{"summary":"Channel account not found or wrong owner","value":{"status":404,"message":"Channel account not found"}},"contact_not_found":{"summary":"Contact not found or wrong owner","value":{"status":404,"message":"Contact not found"}}}}}}}}},"/v2/messages/image":{"post":{"summary":"Send image message","tags":["Messages"],"description":"Send an image message via WhatsApp Official. The image URL is sent directly to the Meta API (no upload required). Returns immediately with QUEUED status.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","url"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the image to","example":"550e8400-e29b-41d4-a716-446655440002"},"url":{"type":"string","format":"uri","description":"Direct URL of the image to send","example":"https://example.com/photo.jpg"},"caption":{"type":"string","description":"Optional caption for the image","example":"Check out this photo!"},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"}}}}}},"responses":{"200":{"description":"Image message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","description":"UUID of the created message","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","description":"UUID of the chat (existing or newly created)","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"description":"Initial message status","example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param url is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/messages/video":{"post":{"summary":"Send video message","tags":["Messages"],"description":"Send a video message via WhatsApp Official. The video URL is sent directly to the Meta API (no upload required). Returns immediately with QUEUED status. The file must be a video format supported by Meta (e.g. video/mp4 or video/3gpp, H.264 video with AAC audio, max 16 MB); Meta validates the file and rejects unsupported formats or sizes.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","url"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the video to","example":"550e8400-e29b-41d4-a716-446655440002"},"url":{"type":"string","format":"uri","description":"Direct URL of the video to send","example":"https://example.com/video.mp4"},"caption":{"type":"string","description":"Optional caption for the video","example":"Check out this video!"},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"}}}}}},"responses":{"200":{"description":"Video message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","description":"UUID of the created message","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","description":"UUID of the chat (existing or newly created)","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"description":"Initial message status","example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param url is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/messages/document":{"post":{"summary":"Send document message","tags":["Messages"],"description":"Send a document message via WhatsApp Official. The document URL is sent directly to the Meta API. Filename is required and will be displayed to the recipient. Returns immediately with QUEUED status.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","url","filename"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the document to","example":"550e8400-e29b-41d4-a716-446655440002"},"url":{"type":"string","format":"uri","description":"Direct URL of the document to send","example":"https://example.com/report.pdf"},"filename":{"type":"string","description":"Filename displayed to the recipient","example":"report.pdf"},"caption":{"type":"string","description":"Optional caption for the document","example":"Monthly report"},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"}}}}}},"responses":{"200":{"description":"Document message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param filename is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/messages/audio":{"post":{"summary":"Send audio message","tags":["Messages"],"description":"Send an audio message via WhatsApp Official. The audio URL is sent directly to the Meta API. No caption support for audio messages. Set \"voice\" to true to deliver the file as a WhatsApp voice note (PTT) instead of a regular audio attachment; for PTT the file must be .ogg encoded with the OPUS codec (Meta validates and rejects other formats). Returns immediately with QUEUED status.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","url"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the audio to","example":"550e8400-e29b-41d4-a716-446655440002"},"url":{"type":"string","format":"uri","description":"Direct URL of the audio file to send","example":"https://example.com/audio.ogg"},"voice":{"type":"boolean","description":"Optional. When true, the audio is delivered as a WhatsApp voice note (PTT) instead of a regular audio attachment. Requires an .ogg file encoded with the OPUS codec.","default":false,"example":true},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"}}}}}},"responses":{"200":{"description":"Audio message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param url is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Channel account not found"}}}}}}}}},"/v2/messages/template":{"post":{"summary":"Send template message","tags":["Messages"],"description":"Send a WhatsApp message template (HSM). Template messages can be sent at any time, even when the 24-hour messaging window is closed. The template must be APPROVED by Meta and belong to the specified channel account. Variable placeholders ({{1}}, {{2}}, etc.) in the template are replaced with the provided parameter values.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["channel_account_id","contact_id","template_id"],"properties":{"channel_account_id":{"type":"string","format":"uuid","description":"UUID of the WhatsApp Official channel account","example":"550e8400-e29b-41d4-a716-446655440001"},"contact_id":{"type":"string","format":"uuid","description":"UUID of the contact to send the template to","example":"550e8400-e29b-41d4-a716-446655440002"},"template_id":{"type":"string","format":"uuid","description":"UUID of the message template to send. Must have APPROVED status.","example":"550e8400-e29b-41d4-a716-446655440010"},"chat_id":{"type":"string","format":"uuid","description":"Optional UUID of an existing chat. If not provided, the system will find or create a chat automatically.","example":"550e8400-e29b-41d4-a716-446655440003"},"parameters":{"type":"object","description":"Variable values to replace {{1}}, {{2}}, etc. in the template components. Each array position maps to the corresponding placeholder number.","properties":{"header":{"type":"array","items":{"type":"string"},"description":"Values for header component variables","example":["John"]},"body":{"type":"array","items":{"type":"string"},"description":"Values for body component variables","example":["John","12345","2024-01-15"]}}}}}}}},"responses":{"200":{"description":"Template message queued for sending","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440099"},"chat_id":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440003"},"status":{"type":"string","enum":["QUEUED"],"example":"QUEUED"}}}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Template must have APPROVED status"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Message template not found"}}}}}}}}},"/v2/dashboards":{"get":{"summary":"List dashboards","tags":["Dashboards"],"description":"Retrieve a paginated list of dashboards.","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/queryParam_limit"},{"$ref":"#/components/parameters/queryParam_offset"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A paginated list of dashboards","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DashboardSummary"}}}}]}}}},"401":{"description":"Authentication error - invalid or missing api-token"}}}},"/v2/dashboards/{id}":{"get":{"summary":"Retrieve a dashboard","tags":["Dashboards"],"description":"Retrieve a single dashboard with its list of charts.","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"Dashboard details with charts","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"$ref":"#/components/schemas/Dashboard"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Dashboard not found"}}}},"/v2/dashboards/{id}/data":{"get":{"summary":"Get dashboard chart data","tags":["Dashboards"],"description":"Execute dashboard chart queries and return data. Charts are paginated at 10 per page. Individual chart failures are handled gracefully and return an error message instead of failing the entire request.","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"},{"$ref":"#/components/parameters/queryParam_page"},{"description":"Start date filter (inclusive)","in":"query","name":"date_start","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-01-01"}},{"description":"End date filter (inclusive)","in":"query","name":"date_end","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-12-31"}},{"description":"Filter by user ID","in":"query","name":"user_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by origin ID","in":"query","name":"origin_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by origin group ID","in":"query","name":"origin_group_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by tag ID","in":"query","name":"tag_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Timezone for date calculations","in":"query","name":"timezone","schema":{"type":"string","maxLength":50,"example":"America/Sao_Paulo"}},{"description":"Limit rows returned per chart (applies to table/list chart types)","in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":15000}},{"description":"Comma-separated list of chart IDs to fetch (returns only these charts instead of all)","in":"query","name":"chart_ids","schema":{"type":"string","example":"uuid-1,uuid-2"}}],"responses":{"200":{"description":"Chart data for the dashboard","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"object","properties":{"charts":{"type":"array","items":{"$ref":"#/components/schemas/ChartData"}}}}}}]}}}},"400":{"description":"Validation error (e.g. invalid date format)"},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Dashboard not found"}}}},"/v2/charts/{id}/data":{"get":{"summary":"Get single chart data","tags":["Dashboards"],"description":"Execute a single chart query and return its data.","parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"},{"description":"Start date filter (inclusive)","in":"query","name":"date_start","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-01-01"}},{"description":"End date filter (inclusive)","in":"query","name":"date_end","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","example":"2026-12-31"}},{"description":"Filter by user ID","in":"query","name":"user_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by origin ID","in":"query","name":"origin_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by origin group ID","in":"query","name":"origin_group_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Filter by tag ID","in":"query","name":"tag_id","schema":{"$ref":"#/components/schemas/ID"}},{"description":"Timezone for date calculations","in":"query","name":"timezone","schema":{"type":"string","maxLength":50,"example":"America/Sao_Paulo"}},{"description":"Limit rows returned (applies to table/list chart types)","in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":15000}}],"responses":{"200":{"description":"Chart data","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":200},"data":{"$ref":"#/components/schemas/ChartData"}}}}}},"400":{"description":"Validation error (e.g. invalid date format)"},"401":{"description":"Authentication error - invalid or missing api-token"},"404":{"description":"Chart not found"}}}},"/v2/sms/bulk":{"post":{"summary":"Send SMS in bulk","tags":["SMS"],"description":"Send up to 1000 SMS in one request. Each item is validated independently — valid items are queued and returned in `accepted` (each with its own `message_id`), invalid ones are returned in `rejected` (partial success). Delivery status is sent per item to your configured webhook (events sms.delivered / sms.undelivered / sms.error). The batch is charged against the per-minute rate limit by its item count. Requires the SMS & Voice feature to be enabled for your account by the Clint team.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["requests"],"properties":{"requests":{"type":"array","maxItems":1000,"items":{"type":"object","required":["phone","message"],"properties":{"phone":{"type":"string","example":"+5511999998888"},"message":{"type":"string","example":"Your code is 1234"}}}},"sms_type":{"type":"string","enum":["SMS","SMS_FLASH"],"default":"SMS"}}}}}},"responses":{"202":{"description":"Accepted. Valid items are queued; see accepted/rejected for per-item results.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"summary":{"type":"object","properties":{"total":{"type":"integer"},"accepted":{"type":"integer"},"rejected":{"type":"integer"}}},"accepted":{"type":"array","items":{"type":"object","properties":{"phone":{"type":"string"},"message_id":{"type":"string"},"status":{"type":"string","example":"QUEUED"}}}},"rejected":{"type":"array","items":{"type":"object","properties":{"phone":{"type":"string"},"reason":{"type":"string"}}}}}}}}},"401":{"description":"Invalid or missing API token"},"402":{"description":"Insufficient wallet balance to send"},"403":{"description":"The SMS & Voice feature is not enabled for your account"},"429":{"description":"Rate limit exceeded. Charged by item count; limit is 10000 requests per minute, per account and per channel."}}}},"/v2/sms":{"post":{"summary":"Send SMS","tags":["SMS"],"description":"Send an SMS. Returns immediately with a QUEUED status; the final delivery status is sent to your configured webhook (events sms.delivered / sms.undelivered / sms.error). Requires the SMS & Voice feature to be enabled for your account by the Clint team.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone","message"],"properties":{"phone":{"type":"string","example":"+5511999998888"},"message":{"type":"string","example":"Your code is 1234"},"sms_type":{"type":"string","enum":["SMS","SMS_FLASH"],"default":"SMS"}}}}}},"responses":{"201":{"description":"Queued","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message_id":{"type":"string"},"status":{"type":"string","example":"QUEUED"}}}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"402":{"description":"Insufficient wallet balance to send the message. Add credit to your wallet and try again.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":402},"message":{"type":"string","example":"Insufficient wallet balance to send SMS"},"wallet_balance":{"type":"number","example":0.5},"minimum_required":{"type":"number","example":1}}}}}},"403":{"description":"The SMS & Voice feature is not enabled for your account","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"429":{"description":"Rate limit exceeded. Limit: 10000 requests per minute, per account and per channel (SMS, VOICE, and audio upload are counted separately)."}}}},"/v2/voice/audios":{"post":{"summary":"Upload VOICE audio","tags":["VOICE"],"description":"Upload an audio file so it can be used in voice calls. Provide a public HTTPS link to the file; we fetch it, store it, and return an audio_id to use when making calls (POST /v2/voice). **Only MP3 files are supported** — the URL must point to an .mp3 file. Uploading the same file again returns the same audio_id — it is stored only once. Requires the SMS & Voice feature to be enabled for your account by the Clint team.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["audio_url"],"properties":{"audio_url":{"type":"string","description":"Publicly accessible HTTPS URL of the audio file to upload. Must point to an MP3 file (.mp3) — other formats are not supported.","example":"https://cdn.example.com/clip.mp3"}}}}}},"responses":{"201":{"description":"Audio registered","content":{"application/json":{"schema":{"type":"object","properties":{"audio_id":{"type":"string","description":"Identifier for the uploaded audio. Pass it to POST /v2/voice.","example":"api-audio-0a1b2c3d4e5f6a7b"},"reused":{"type":"boolean","description":"true if this exact audio had already been uploaded before (reused); false if it was stored now."}}}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"The SMS & Voice feature is not enabled for your account"},"429":{"description":"Rate limit exceeded. Limit: 10000 requests per minute, per account and per channel (SMS, VOICE, and audio upload are counted separately)."}}}},"/v2/voice/bulk":{"post":{"summary":"Send VOICE calls in bulk","tags":["VOICE"],"description":"Place up to 1000 voice calls in one request, all playing the same pre-uploaded audio. Upload the audio once via POST /v2/voice/audios and pass its audio_id. Each phone is validated independently — valid ones are queued and returned in `accepted` (each with its own `message_id`), invalid ones in `rejected` (partial success). The call result is sent per item to your configured webhook (events voice.answered / voice.no_answer / voice.failed). The batch is charged against the per-minute rate limit by its item count. Requires the SMS & Voice feature to be enabled for your account by the Clint team.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["audio_id","requests"],"properties":{"audio_id":{"type":"string","description":"audio_id returned by POST /v2/voice/audios.","example":"api-audio-xxxx"},"requests":{"type":"array","maxItems":1000,"items":{"type":"object","required":["phone"],"properties":{"phone":{"type":"string","example":"+5511999998888"}}}}}}}}},"responses":{"202":{"description":"Accepted. Valid calls are queued; see accepted/rejected for per-item results.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"summary":{"type":"object","properties":{"total":{"type":"integer"},"accepted":{"type":"integer"},"rejected":{"type":"integer"}}},"accepted":{"type":"array","items":{"type":"object","properties":{"phone":{"type":"string"},"message_id":{"type":"string"},"status":{"type":"string","example":"QUEUED"}}}},"rejected":{"type":"array","items":{"type":"object","properties":{"phone":{"type":"string"},"reason":{"type":"string"}}}}}}}}},"400":{"description":"Validation error (e.g. missing or unknown audio_id)"},"401":{"description":"Invalid or missing API token"},"402":{"description":"Insufficient wallet balance to send"},"403":{"description":"The SMS & Voice feature is not enabled for your account"},"429":{"description":"Rate limit exceeded. Charged by item count; limit is 10000 requests per minute, per account and per channel."}}}},"/v2/voice":{"post":{"summary":"Send VOICE call","tags":["VOICE"],"description":"Make a voice call that plays a pre-uploaded audio. Upload the audio first via POST /v2/voice/audios and pass the returned audio_id here. Returns immediately with a QUEUED status; the call result is sent to your configured webhook (events voice.answered / voice.no_answer / voice.failed). Requires the SMS & Voice feature to be enabled for your account by the Clint team.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["phone","audio_id"],"properties":{"phone":{"type":"string","example":"+5511999998888"},"audio_id":{"type":"string","description":"audio_id returned by POST /v2/voice/audios.","example":"api-audio-0a1b2c3d4e5f6a7b"}}}}}},"responses":{"201":{"description":"Queued","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message_id":{"type":"string"},"status":{"type":"string","example":"QUEUED"}}}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"402":{"description":"Insufficient wallet balance to make the call. Add credit to your wallet and try again.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":402},"message":{"type":"string","example":"Insufficient wallet balance to send voice calls"},"wallet_balance":{"type":"number","example":0.5},"minimum_required":{"type":"number","example":1}}}}}},"403":{"description":"The SMS & Voice feature is not enabled for your account","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"429":{"description":"Rate limit exceeded. Limit: 10000 requests per minute, per account and per channel (SMS, VOICE, and audio upload are counted separately)."}}}},"/v2/webhooks":{"get":{"summary":"Get webhook config","tags":["Webhooks"],"description":"Returns the currently configured webhook URL, subscribed events, and whether a signing secret is set.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"responses":{"200":{"description":"Webhook configuration","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","nullable":true,"example":"https://yourserver.example.com/webhook"},"events":{"type":"array","description":"The events you are currently subscribed to.","items":{"type":"string","enum":["sms.delivered","sms.undelivered","sms.error","voice.answered","voice.no_answer","voice.failed"]},"example":["sms.delivered","voice.answered"]},"has_secret":{"type":"boolean"}}}}}},"401":{"description":"Invalid or missing API token"},"403":{"description":"The SMS & Voice feature is not enabled for your account","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}}}},"put":{"summary":"Set webhook config","tags":["Webhooks"],"description":"Configure the webhook URL and event subscriptions. Provide `url` and `events` to set it up; send an empty body (omit `url`) to remove the webhook entirely. When `url` is provided, `events` is required. A new HMAC secret is generated and returned once on first configuration — store it immediately. Webhook callbacks are signed: header X-Clint-Signature = \"sha256=\" + HMAC-SHA256 over \"<X-Clint-Timestamp>.<rawBody>\" using the returned secret.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"Destination URL. Omit (send an empty body) to remove the webhook.","example":"https://yourserver.example.com/webhook"},"events":{"type":"array","description":"List of the events you want to receive. The list is the complete set of subscriptions: events you include are delivered, events you omit are not (re-send the full list to change it). SMS sends are also billed; this only controls which status callbacks reach your webhook.","items":{"type":"string","enum":["sms.delivered","sms.undelivered","sms.error","voice.answered","voice.no_answer","voice.failed"]},"example":["sms.delivered","sms.error","voice.answered"]}}}}}},"responses":{"200":{"description":"Config saved; secret returned once","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"secret":{"type":"string","description":"HMAC signing secret — store immediately, will not be shown again"}}}}}},"400":{"description":"Validation error"},"401":{"description":"Invalid or missing API token"},"403":{"description":"The SMS & Voice feature is not enabled for your account","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}}}}},"/v2/activities":{"get":{"summary":"List activities","tags":["Activities"],"description":"Retrieve a paginated list of deal activities, filterable by type, activity status, deal status, origin, stage, assigned user, deal, free text, tags, and a date range. Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:read` scope.\n\n**Consistency note:** listing is served from the search index and is eventually consistent (typically seconds behind writes). `GET /v2/activities/:id` reads from the primary database and is always fresh — poll that endpoint instead of the list if you need to confirm a just-written change.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"description":"Comma-separated list of activity types to filter by (CALL, MAIL, SCHEDULE, TASK, MEETING, WHATSAPP, INSTAGRAM).","in":"query","name":"type","schema":{"type":"string","example":"CALL,TASK"}},{"description":"Comma-separated list of activity statuses to filter by (DELAYED, ON_TIME, COMPLETE, IGNORED).","in":"query","name":"activity_status","schema":{"type":"string","example":"DELAYED,ON_TIME"}},{"description":"Comma-separated list of deal statuses to filter by (OPEN, WON, LOST).","in":"query","name":"deal_status","schema":{"type":"string","example":"OPEN"}},{"description":"Comma-separated list of origin UUIDs to filter by.","in":"query","name":"origin_ids","schema":{"type":"string","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8"}},{"description":"Comma-separated list of stage UUIDs to filter by.","in":"query","name":"stage_ids","schema":{"type":"string","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8"}},{"description":"Filter by the deal's assigned user (single UUID).","in":"query","name":"user_id","schema":{"type":"string","format":"uuid","example":"7c9e6679-7425-40de-944b-e07fc1f90ae7"}},{"description":"Filter by a single deal UUID.","in":"query","name":"deal_id","schema":{"type":"string","format":"uuid","example":"550e8400-e29b-41d4-a716-446655440000"}},{"description":"Free-text search across the activity title and content.","in":"query","name":"text","schema":{"type":"string","example":"follow up"}},{"description":"Comma-separated list of tag UUIDs. An activity matches when its deal has any of these tags.","in":"query","name":"tags","schema":{"type":"string","example":"tag-uuid-1,tag-uuid-2"}},{"description":"Comma-separated list of tag UUIDs to exclude. An activity is excluded when its deal has any of these tags.","in":"query","name":"tags_exclude","schema":{"type":"string","example":"tag-uuid-1"}},{"description":"Which date field date_start/date_end filter against. `due` (default) is the activity's due date, `created` is when the activity was created, `won`/`lost` are the deal's won_at/lost_at.","in":"query","name":"date_type","schema":{"type":"string","enum":["due","created","won","lost"],"default":"due","example":"due"}},{"description":"Inclusive start of the date range (ISO 8601), applied to the field selected by date_type.","in":"query","name":"date_start","schema":{"type":"string","format":"date-time","example":"2024-01-01T00:00:00.000Z"}},{"description":"Inclusive end of the date range (ISO 8601), applied to the field selected by date_type.","in":"query","name":"date_end","schema":{"type":"string","format":"date-time","example":"2024-01-31T23:59:59.999Z"}},{"$ref":"#/components/parameters/queryParam_limit_200"},{"$ref":"#/components/parameters/queryParam_page"}],"responses":{"200":{"description":"A paginated list of activities","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/PaginatedV2"},{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Activity"}}}}]}}}},"400":{"description":"Param type must be one of CALL, MAIL, SCHEDULE, TASK, MEETING, WHATSAPP, INSTAGRAM","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param type must be one of CALL, MAIL, SCHEDULE, TASK, MEETING, WHATSAPP, INSTAGRAM"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}}}},"post":{"summary":"Create activity","tags":["Activities"],"description":"Create an activity on a deal. Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:write` scope. `stage_id` must be a stage belonging to the deal's origin — when omitted, it defaults to the deal's current stage.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["deal_id","title","type"],"properties":{"deal_id":{"type":"string","format":"uuid","description":"UUID of the deal this activity belongs to. Must belong to the authenticated owner.","example":"550e8400-e29b-41d4-a716-446655440000"},"title":{"type":"string","description":"Title of the activity.","example":"Call the customer back"},"type":{"type":"string","enum":["CALL","MAIL","SCHEDULE","TASK","MEETING","WHATSAPP","INSTAGRAM"],"example":"CALL"},"due_at":{"type":"string","format":"date-time","nullable":true,"description":"Due date/time (ISO 8601).","example":"2024-01-20T14:00:00.000Z"},"content":{"type":"string","nullable":true,"description":"Free-text body of the activity. For WHATSAPP and INSTAGRAM this is the message text (stored so it renders in the Clint UI message view); for CALL/MAIL/TASK it is the notes field.","example":"Discuss the renewal proposal."},"template_id":{"type":"string","format":"uuid","description":"Optional WhatsApp Official message template to attach. Only supported when `type` is `WHATSAPP`; must reference a template belonging to the authenticated owner.","example":"b3c2d1e0-1234-4abc-9def-0123456789ab"},"stage_id":{"type":"string","format":"uuid","description":"Stage of the deal's origin to associate the activity with. Defaults to the deal's current stage when omitted.","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8"}}}}}},"responses":{"201":{"description":"The created activity object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":201,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Activity"}}}]}}}},"400":{"description":"Param deal_id is required and must be a valid UUID","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param deal_id is required and must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"404":{"description":"Deal not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Deal not found"}}}}}}}}},"/v2/activities/{id}":{"get":{"summary":"Get activity","tags":["Activities"],"description":"Retrieve a single activity by ID. Only returns activities belonging to the authenticated owner. Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:read` scope. Unlike the list endpoint, this reads from the primary database and is always fresh.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"200":{"description":"An activity object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Activity"}}}]}}}},"400":{"description":"Param ID must be a valid UUID","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"404":{"description":"Activity not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Activity not found"}}}}}}}},"post":{"summary":"Update activity","tags":["Activities"],"description":"Update one or more fields of an activity. At least one of title, type, content, template_id, due_at, or stage_id is required. `stage_id` must be a stage belonging to the deal's origin. `template_id` is only supported for WHATSAPP activities (pass `null` to detach). Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:write` scope. Only activities belonging to the authenticated owner can be updated.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","minProperties":1,"properties":{"title":{"type":"string","example":"Call the customer back tomorrow"},"type":{"type":"string","enum":["CALL","MAIL","SCHEDULE","TASK","MEETING","WHATSAPP","INSTAGRAM"],"example":"CALL"},"content":{"type":"string","nullable":true,"description":"Free-text body. For WHATSAPP/INSTAGRAM this is the message text; for CALL/MAIL/TASK it is the notes field.","example":"Updated notes."},"template_id":{"type":"string","format":"uuid","nullable":true,"description":"Attach (UUID) or detach (`null`) a WhatsApp Official message template. Only supported when the activity type is WHATSAPP; must reference a template belonging to the authenticated owner.","example":"b3c2d1e0-1234-4abc-9def-0123456789ab"},"due_at":{"type":"string","format":"date-time","nullable":true,"example":"2024-01-21T14:00:00.000Z"},"stage_id":{"type":"string","format":"uuid","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8"}}}}}},"responses":{"200":{"description":"The updated activity object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Activity"}}}]}}}},"400":{"description":"At least one of title, type, content, template_id, due_at, stage_id is required","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"At least one of title, type, content, template_id, due_at, stage_id is required"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"404":{"description":"Activity not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Activity not found"}}}}}}}},"delete":{"summary":"Delete activity","tags":["Activities"],"description":"Soft-delete an activity. Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:write` scope. Only activities belonging to the authenticated owner can be deleted.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"responses":{"204":{"$ref":"#/components/responses/204"},"400":{"description":"Param ID must be a valid UUID","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Param ID must be a valid UUID"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"404":{"description":"Activity not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Activity not found"}}}}}}}}},"/v2/activities/{id}/complete":{"post":{"summary":"Complete/reopen activity","tags":["Activities"],"description":"Mark an activity as completed, or reopen a previously completed one. Body is optional; `completed` defaults to `true`. Reopening (`completed: false`) a non-custom activity (created automatically from a stage template) that is no longer on the deal's current stage is rejected with `400` — the internal service would otherwise soft-delete it instead of reopening it. Completions made through this endpoint carry no user attribution (`completed_by` stays `null`). Requires the `ACTIVITIES_API` feature flag and an API key with the `activities:write` scope.","servers":[{"url":"https://api.clint.digital","description":"Production API (v2)"}],"parameters":[{"$ref":"#/components/parameters/headerParamXAPIKey"},{"$ref":"#/components/parameters/pathParam_id"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"completed":{"type":"boolean","default":true,"description":"true to complete the activity, false to reopen it.","example":true}}}}}},"responses":{"200":{"description":"The updated activity object","content":{"application/json":{"schema":{"allOf":[{"type":"object","properties":{"status":{"type":"integer","example":200,"description":"Response status"}}},{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Activity"}}}]}}}},"400":{"description":"Cannot reopen a stage-template activity from a previous stage","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"message":{"type":"string","example":"Cannot reopen a stage-template activity from a previous stage"}}}}}},"401":{"description":"Authentication error - invalid or missing api-token"},"403":{"description":"This feature is not available for your account.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":403},"message":{"type":"string","example":"This feature is not available for your account."}}}}}},"404":{"description":"Activity not found","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":404},"message":{"type":"string","example":"Activity not found"}}}}}}}}},"/v2/deals/{id}/history":{"get":{"tags":["Deals"],"summary":"Deal history (timeline)","description":"Returns the deal's timeline — the same items shown in the CRM panel's History tab: stage/status/owner changes, notes, tags, e-mails/SMS/calls, completed activities and integration events, for the deal and its contact. Each item carries the raw event `body` (shape varies by `category`) plus a pre-rendered pt-BR `summary` (null for categories without a summarizer). Ordered by event date descending.","security":[{"apiToken":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"Deal id"},{"name":"limit","in":"query","schema":{"type":"integer","default":200,"maximum":200}},{"name":"page","in":"query","schema":{"type":"integer","default":1}}],"x-scope":"deals:read","responses":{"200":{"description":"PaginatedV2 envelope with history items: { id, category, date (UTC ISO), system, user: { id, name } | null, body (event-specific object) | null, summary (pt-BR string) | null }"},"400":{"description":"Invalid deal id"},"403":{"description":"API key missing the deals:read scope"},"404":{"description":"Deal not found for this account"}}}}},"components":{"parameters":{"headerParamXAPIKey":{"description":"API Token","in":"header","name":"api-token","schema":{"type":"string"},"required":true},"queryParam_limit":{"description":"Max number of rows returned","in":"query","name":"limit","schema":{"default":200,"maximum":1000,"minimum":1,"type":"integer"}},"queryParam_limit_100":{"description":"Max number of rows returned","in":"query","name":"limit","schema":{"default":100,"maximum":100,"minimum":1,"type":"integer"}},"queryParam_limit_200":{"description":"Max number of rows returned","in":"query","name":"limit","schema":{"default":200,"maximum":200,"minimum":1,"type":"integer"}},"queryParam_offset":{"description":"Number of rows skipped of the result","in":"query","name":"offset","schema":{"default":0,"minimum":0,"type":"integer"}},"queryParam_page":{"description":"Select the page of the result","in":"query","name":"page","schema":{"default":1,"minimum":1,"type":"integer"}},"pathParam_id":{"description":"UUID","in":"path","name":"id","schema":{"type":"string","format":"uuid","example":"8feade82-d77b-4e8b-9d35-fd43e972b5c8"},"required":true},"queryParam_channelType":{"description":"Filter channel accounts by type. When omitted, returns all supported channel types (WHATSAPP_OFFICIAL, WHATSAPP, INSTAGRAM).","in":"query","name":"type","schema":{"type":"string","enum":["WHATSAPP_OFFICIAL","WHATSAPP","INSTAGRAM"],"example":"WHATSAPP_OFFICIAL"}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"204":{"description":"No Content"},"404":{"description":"Validation error"},"500":{"description":"Internal error"}},"schemas":{"Chat":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ID"},"created_at":{"$ref":"#/components/schemas/DateTime"},"contact_id":{"$ref":"#/components/schemas/
[...]
